.noUnderline {
  text-decoration: none;
}

#link {
  color: rgb(52, 238, 15);
}

body {
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: contain;
}

iframe {
  height: 2000;
  width: 95%;
  border: 5px ridge white;
  padding: 1px;
  margin: 1px;
}

@keyframes animation1 {
  0% {
    color: White;

    /* border: 10px ridge white; */
    background: linear-gradient(red, yellow);
    /* background-color: black; */
  }
  50% {
    color: rgb(23, 248, 19);
    background: linear-gradient(rgb(0, 64, 255), black);
    /* border: 10px ridge white; */
    /* background-color: gold; */
  }
  100% {
    color: red;
    background: linear-gradient(cyan, silver);

    /* border: 10px ridge white; */
    /* background-color: black; */
  }
}

.parent_menu {
  display: flex;
  flex-direction: row;
  background-color: cyan;
  border: 14px solid blue;
  justify-content: space-between;
  transition: all;
  transition-duration: 0.5s;
  border-radius: 10px;
  text-decoration: none;
}

.child_menu {
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  background-color: gold;
  color: blue;
  transition: all;
  transition-duration: 0.5s;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid red;
}

.parent_menu:hover {
  display: flex;
  flex-direction: row;
  background-color: rgb(52, 238, 15);
  border: 14px solid blue;
  justify-content: space-between;
  border-radius: 10px;
  text-decoration: none;
}

.child_menu:hover {
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  background-color: aqua;
  color: blue;
  transform: scale(1.2, 1.2);
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid black;
}

h1 {
  color: blue;
  font-family: "Norican", cursive;
  font-size: 5vw;
  margin: 1vw 5vw 1vw 5vw;
  animation-name: animation1;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  transition: all;
  transition-duration: 3s;
}

h1:hover {
  font-family: "Norican", cursive;
  font-size: 6vw;
  margin: 1vw 5vw 1vw 5vw;
  color: rgb(50, 196, 21);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  transition: all;
  transition-duration: 1s;
  border: 1vw ridge whitesmoke;
}

img:hover {
  transform: scale(1.2, 1.2);
  border: 1vw ridge blue;
}

p {
  font-size: 2vw;
  font-family: "El Messiri", sans-serif;
  color: black;
  transition: all;
  transition-duration: 1s;
}

p:hover {
  font-size: 2vw;
  font-family: "El Messiri", sans-serif;
  /* color: gold; */
  font-weight: 900;
}

button {
  font-size: 2vw;
  border-radius: 20px;
  color: blue;
  background-image: linear-gradient(
    to right,
    greenyellow,
    cyan,
    white,
    cyan,
    greenyellow
  );
  border: 20px ridge white;
  transition: all;
  transition-duration: 1s;
}

button:hover {
  font-size: 2vw;
  border-radius: 20px;
  color: blue;
  background-image: linear-gradient(
    to right,
    greenyellow,
    cyan,
    white,
    cyan,
    greenyellow
  );
  border: 20px ridge red;
}

table {
  border: 10px ridge gold;
  padding: 5px;
  margin: 5px;
  transition: all;
  transition-duration: 0.5s;
}

td {
  border: 4px ridge cyan;
  font-size: 1.5vw;
  color: white;
  padding: 5px;
  margin: 5px;
  transition: all;
  transition-duration: 0.5s;
  text-align: center;
}

th {
  color: rgb(23, 56, 225);
  border: 5px ridge white;
  padding: 5px;
  margin: 5px;
  font-size: 2vw;
  transition: all;
  transition-duration: 0.5s;
  background-color: rgb(235, 16, 206);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td:hover {
  border: 2px ridge rgb(12, 12, 194);
  font-size: 1.5vw;
  color: black;
  padding: 5px;
  margin: 5px;
  background-color: yellow;
}

th:hover {
  color: blue;
  border: 10px ridge rgb(34, 236, 34);
  padding: 5px;
  margin: 5px;
  font-size: 2vw;
  background-color: pink;
  /* border: 3px ridge rgb(12, 12, 194); */
}

table:hover {
  border: 10px ridge greenyellow;
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 2vw;
  font-family: "El Messiri", sans-serif;
  color: white;
  transition: all;
  transition-duration: 1s;
}

label:hover {
  font-size: 2vw;
  font-family: "El Messiri", sans-serif;
  color: gold;
}

input {
  font-size: 1.5vw;
  width: 20%;
  font-family: "Antic Slab", serif;
  transition: all;
  transition-duration: 0.5s;
  color: rgb(0, 76, 255);
}

select {
  font-size: 1.5vw;
  width: 20%;
  font-family: "Antic Slab", serif;
}

.centeredForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px;
}

form {
  padding: 20px;
  border: 10px ridge cyan;
}

textarea {
  width: 20%;
  font-size: 1.5vw;
  height: 50px;
  transition: all;
  transition-duration: 1s;
  font-family: "Antic Slab", serif;
}

textarea:focus {
  width: 20%;
  font-size: 1.5vw;
  height: 15vw;
  font-family: "Antic Slab", serif;
  border: 10px ridge red;
  color: rgb(0, 76, 255);
}

input:hover {
  font-size: 1.5vw;
  width: 20%;
  font-family: "Antic Slab", serif;
  border: 10px ridge red;
  color: rgb(0, 76, 255);
}

select:hover {
  font-size: 1.5vw;
  width: 20%;
  font-family: "Antic Slab", serif;
  border: 10px ridge red;
  color: rgb(0, 76, 255);
}

.Button {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-image: linear-gradient(to right, gold, white, gold);
  margin: 50px;
  transition: all;
  transition-duration: 3s;
}

.Button:hover {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-image: linear-gradient(to right, cyan, gold, cyan);
  margin: 50px;
}

input[type="submit"],
input[type="reset"] {
  color: blue;
  border: 5px ridge red;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  color: red;
  border: 10px ridge red;
  padding: 5px;
  font-weight: bold;
}

@media screen and (max-width: 646px) {
  @keyframes animationbg {
    from {
      background-image: linear-gradient(whitesmoke, cyan, blue);
    }
    to {
      background-image: linear-gradient(
        rgb(235, 228, 16),
        rgb(29, 211, 211),
        rgb(13, 13, 186)
      );
    }
  }

  .noUnderline {
    text-decoration: none;
  }

  #link {
    color: rgb(52, 238, 15);
  }

  body {
    background: #fc00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #00dbde,
      #fc00ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #00dbde,
      #fc00ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: contain;
  }

  @keyframes animation1 {
    0% {
      color: White;

      /* border: 10px ridge white; */
      background: linear-gradient(red, yellow);
      /* background-color: black; */
    }
    50% {
      color: rgb(23, 248, 19);
      background: linear-gradient(rgb(0, 64, 255), black);
      /* border: 10px ridge white; */
      /* background-color: gold; */
    }
    100% {
      color: red;
      background: linear-gradient(cyan, silver);

      /* border: 10px ridge white; */
      /* background-color: black; */
    }
  }

  button {
    font-size: 3vw;
    border-radius: 2px;
    color: blue;
    background-image: linear-gradient(
      to right,
      greenyellow,
      cyan,
      white,
      cyan,
      greenyellow
    );
    border: 2px ridge white;
    transition: all;
    transition-duration: 1s;
  }

  button:hover {
    font-size: 3vw;
    border-radius: 2px;
    color: blue;
    background-image: linear-gradient(
      to right,
      greenyellow,
      cyan,
      white,
      cyan,
      greenyellow
    );
    border: 2px ridge red;
    transition: all;
    transition-duration: 1s;
  }

  .parent_menu {
    display: flex;
    flex-direction: row;
    background-color: cyan;
    border: 2px solid blue;
    justify-content: center;
    transition: all;
    transition-duration: 0.5s;
    border-radius: 2px;
    text-decoration: none;
    flex-wrap: wrap;
  }

  .child_menu {
    border-radius: 10px;
    font-size: 3vw;
    background-color: gold;
    color: blue;
    transition: all;
    transition-duration: 0.5s;
    text-decoration: none;
    border: 2px solid red;
    margin: 3px;
  }

  .parent_menu:hover {
    display: flex;
    flex-direction: row;
    background-color: rgb(52, 238, 15);
    border: 2px solid blue;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
    flex-wrap: wrap;
  }

  .child_menu:hover {
    border-radius: 10px;
    background-color: aqua;
    font-size: 3vw;
    color: white;
    transform: scale(1.2, 1.2);
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid black;
    margin: 3px;
  }

  h1 {
    color: blue;
    font-family: "Norican", cursive;
    font-size: 15vw;
    margin: 1vw 5vw 1vw 5vw;
    animation-name: animation1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    transition: all;
    transition-duration: 2s;
  }

  h1:hover {
    font-family: "Norican", cursive;
    font-size: 15vw;
    margin: 1vw 5vw 1vw 5vw;
    color: rgb(50, 196, 21);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: all;
    transition-duration: 1s;
    border: 1vw ridge whitesmoke;
  }

  img:hover {
    transform: scale(1.2, 1.2);
    border: 1vw ridge blue;
  }

  p {
    font-size: 5vw;
    font-family: "El Messiri", sans-serif;
    color: black;
    transition: all;
    transition-duration: 1s;
  }

  p:hover {
    font-size: 5vw;
    font-family: "El Messiri", sans-serif;
    color: black;
    font-weight: 900;
  }

  table {
    border: 2px ridge gold;
    padding: 5px;
    margin: 5px;
    transition: all;
    transition-duration: 0.5s;
    /* table-layout: fixed; */
    /* width: 100%; */
  }

  td {
    border: 4px ridge cyan;
    font-size: 5vw;
    color: white;
    padding: 5px;
    margin: 5px;
    transition: all;
    transition-duration: 0.5s;
    text-align: center;
  }

  th {
    color: rgb(23, 56, 225);
    border: 5px ridge white;
    padding: 5px;
    margin: 5px;
    font-size: 5vw;
    transition: all;
    transition-duration: 0.5s;
    background-color: rgb(235, 16, 206);
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  td:hover {
    border: 2px ridge rgb(12, 12, 194);
    font-size: 5vw;
    color: black;
    padding: 5px;
    margin: 5px;
    background-color: yellow;
  }

  th:hover {
    color: blue;
    border: 5px ridge rgb(34, 236, 34);
    padding: 5px;
    margin: 5px;
    font-size: 5vw;
    background-color: pink;
    /* border: 3px ridge rgb(12, 12, 194); */
  }

  table:hover {
    border: 5px ridge greenyellow;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    font-size: 5vw;
    font-family: "El Messiri", sans-serif;
    color: white;
    transition: all;
    transition-duration: 1s;
  }

  label:hover {
    font-size: 5vw;
    font-family: "El Messiri", sans-serif;
    color: gold;
  }

  input {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
    transition: all;
    transition-duration: 0.5s;
    color: rgb(0, 76, 255);
    margin: 5px;
  }

  select {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
  }

  .centeredForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2px;
  }

  form {
    padding: 2px;
    border: 2px ridge cyan;
  }

  textarea {
    width: 20%;
    font-size: 5vw;
    height: 20px;
    transition: all;
    transition-duration: 1s;
    font-family: "Antic Slab", serif;
  }

  textarea:focus {
    width: 20%;
    font-size: 5vw;
    height: 15vw;
    font-family: "Antic Slab", serif;
    border: 2px ridge red;
    color: rgb(0, 76, 255);
  }

  input:hover {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
    border: 2px ridge red;
    color: rgb(0, 76, 255);
  }

  select:hover {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
    border: 2px ridge red;
    color: rgb(0, 76, 255);
  }

  .Button {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(to right, gold, white, gold);
    margin: 2px;
    transition: all;
    transition-duration: 3s;
  }

  .Button:hover {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(to right, cyan, gold, cyan);
    margin: 2px;
  }

  input[type="submit"],
  input[type="reset"] {
    color: blue;
    border: 2px ridge red;
    font-weight: bold;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover {
    color: red;
    border: 5px ridge red;
    padding: 5px;
    font-weight: bold;
  }
}

@media screen and (min-width: 646px) and (max-width: 1024px) {
  @keyframes animationbg {
    from {
      background-image: linear-gradient(whitesmoke, cyan, blue);
    }
    to {
      background-image: linear-gradient(
        rgb(235, 228, 16),
        rgb(29, 211, 211),
        rgb(13, 13, 186)
      );
    }
  }

  iframe {
    height: 2000;
    width: 95%;
  }

  .noUnderline {
    text-decoration: none;
  }

  #link {
    color: rgb(52, 238, 15);
  }

  body {
    background: #fc00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #00dbde,
      #fc00ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #00dbde,
      #fc00ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: contain;
  }

  @keyframes animation1 {
    0% {
      color: White;

      /* border: 10px ridge white; */
      background: linear-gradient(red, yellow);
      /* background-color: black; */
    }
    50% {
      color: rgb(23, 248, 19);
      background: linear-gradient(rgb(0, 64, 255), black);
      /* border: 10px ridge white; */
      /* background-color: gold; */
    }
    100% {
      color: red;
      background: linear-gradient(cyan, silver);

      /* border: 10px ridge white; */
      /* background-color: black; */
    }
  }

  .parent_menu {
    display: flex;
    flex-direction: row;
    background-color: cyan;
    border: 2px solid blue;
    justify-content: center;
    transition: all;
    transition-duration: 0.5s;
    border-radius: 2px;
    text-decoration: none;
    flex-wrap: wrap;
  }

  button {
    font-size: 3.3vw;
    border-radius: 2px;
    color: blue;
    background-image: linear-gradient(
      to right,
      greenyellow,
      cyan,
      white,
      cyan,
      greenyellow
    );
    border: 2px ridge white;
    transition: all;
    transition-duration: 1s;
  }

  button:hover {
    font-size: 3.3vw;
    border-radius: 2px;
    color: blue;
    background-image: linear-gradient(
      to right,
      greenyellow,
      cyan,
      white,
      cyan,
      greenyellow
    );
    border: 2px ridge red;
    transition: all;
    transition-duration: 1s;
  }

  .child_menu {
    border-radius: 10px;
    font-size: 3vw;
    background-color: gold;
    color: blue;
    transition: all;
    transition-duration: 0.5s;
    text-decoration: none;
    border: 2px solid red;
    margin: 3px;
  }

  .parent_menu:hover {
    display: flex;
    flex-direction: row;
    background-color: rgb(52, 238, 15);
    border: 2px solid blue;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
    flex-wrap: wrap;
  }

  .child_menu:hover {
    border-radius: 10px;
    background-color: aqua;
    font-size: 4vw;
    color: white;
    transform: scale(1.2, 1.2);
    text-decoration: none;
    border: 2px solid black;
    margin: 3px;
  }

  h1 {
    color: blue;
    font-family: "Norican", cursive;
    font-size: 10vw;
    margin: 1vw 5vw 1vw 5vw;
    animation-name: animation1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    transition: all;
    transition-duration: 2s;
  }

  h1:hover {
    font-family: "Norican", cursive;
    font-size: 12vw;
    margin: 1vw 5vw 1vw 5vw;
    color: rgb(50, 196, 21);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: all;
    transition-duration: 1s;
    border: 1vw ridge whitesmoke;
  }

  img:hover {
    transform: scale(1.2, 1.2);
    border: 1vw ridge blue;
  }

  p {
    font-size: 3vw;
    font-family: "El Messiri", sans-serif;
    color: black;
    transition: all;
    transition-duration: 1s;
  }

  p:hover {
    font-size: 3vw;
    font-family: "El Messiri", sans-serif;
    color: black;
    font-weight: 900;
  }

  table {
    border: 2px ridge gold;
    padding: 5px;
    margin: 5px;
    transition: all;
    transition-duration: 0.5s;
    /* table-layout: fixed; */
    /* width: 100%; */
  }

  td {
    border: 4px ridge cyan;
    font-size: 3vw;
    color: white;
    padding: 5px;
    margin: 5px;
    transition: all;
    transition-duration: 0.5s;
    text-align: center;
  }

  th {
    color: rgb(23, 56, 225);
    border: 5px ridge white;
    padding: 5px;
    margin: 5px;
    font-size: 3vw;
    transition: all;
    transition-duration: 0.5s;
    background-color: rgb(235, 16, 206);
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  td:hover {
    border: 2px ridge rgb(12, 12, 194);
    font-size: 4vw;
    color: black;
    padding: 5px;
    margin: 5px;
    background-color: yellow;
  }

  th:hover {
    color: blue;
    border: 5px ridge rgb(34, 236, 34);
    padding: 5px;
    margin: 5px;
    font-size: 4vw;
    background-color: pink;
    /* border: 3px ridge rgb(12, 12, 194); */
  }

  table:hover {
    border: 5px ridge greenyellow;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    font-size: 5vw;
    font-family: "El Messiri", sans-serif;
    color: white;
    transition: all;
    transition-duration: 1s;
  }

  label:hover {
    font-size: 5vw;
    font-family: "El Messiri", sans-serif;
    color: gold;
  }

  input {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
    transition: all;
    transition-duration: 0.5s;
    color: rgb(0, 76, 255);
    margin: 5px;
  }

  select {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
  }

  .centeredForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2px;
  }

  form {
    padding: 2px;
    border: 2px ridge cyan;
  }

  textarea {
    width: 20%;
    font-size: 5vw;
    height: 20px;
    transition: all;
    transition-duration: 1s;
    font-family: "Antic Slab", serif;
  }

  textarea:focus {
    width: 20%;
    font-size: 5vw;
    height: 15vw;
    font-family: "Antic Slab", serif;
    border: 2px ridge red;
    color: rgb(0, 76, 255);
  }

  input:hover {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
    border: 2px ridge red;
    color: rgb(0, 76, 255);
  }

  select:hover {
    font-size: 5vw;
    width: 20%;
    font-family: "Antic Slab", serif;
    border: 2px ridge red;
    color: rgb(0, 76, 255);
  }

  .Button {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(to right, gold, white, gold);
    margin: 2px;
    transition: all;
    transition-duration: 3s;
  }

  .Button:hover {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(to right, cyan, gold, cyan);
    margin: 2px;
  }

  input[type="submit"],
  input[type="reset"] {
    color: blue;
    border: 2px ridge red;
    font-weight: bold;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover {
    color: red;
    border: 5px ridge red;
    padding: 5px;
    font-weight: bold;
  }
}
